<div class="ui container" id="container">
    <button class="ui button" id="add-btn" routerLink="/task-form" style="float: right;">Add Task</button>
    <h1>Dashboard</h1>
    <div class="ui three column grid" id="task-column">

        <!-- New Task Column -->
        <div class="column" cdkDropList [cdkDropListData]="newTasks"
            [cdkDropListConnectedTo]="['inProgressList', 'doneList']" (cdkDropListDropped)="onDrop($event)"
            id="newTasksList">
            <h3>New Task</h3>
            <div *ngFor="let task of newTasks" cdkDrag [cdkDragData]="task">
                <div class="ui card" id="card">
                    <div class="content">
                        <div class="header" id="heading">{{ task.title }}</div>
                        <div class="description" id="desc">{{ task.description }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- In Progress Column -->
        <div class="column" cdkDropList [cdkDropListData]="inProgressTasks"
            [cdkDropListConnectedTo]="['newTasksList', 'doneList']" (cdkDropListDropped)="onDrop($event)"
            id="inProgressList">
            <h3>In Progress</h3>
            <div *ngFor="let task of inProgressTasks" cdkDrag [cdkDragData]="task">
                <div class="ui card" id="card">
                    <div class="content">
                        <div class="header" id="heading">{{ task.title }}</div>
                        <div class="description" id="desc">{{ task.description }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Done Column -->
        <div class="column" cdkDropList [cdkDropListData]="doneTasks"
            [cdkDropListConnectedTo]="['newTasksList', 'inProgressList']" (cdkDropListDropped)="onDrop($event)"
            id="doneList">
            <h3>Done</h3>
            <div *ngFor="let task of doneTasks" cdkDrag [cdkDragData]="task">
                <div class="ui card" id="card">
                    <div class="content">
                        <div class="header" id="heading">{{ task.title }}</div>
                        <div class="description" id="desc">{{ task.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>